@import url('http://fonts.googleapis.com/css?family=Roboto');
html,
body {
  margin-left: 5px;
}


h1{
  font-size: 3em;
  font-weight: 700;
  font-family:'Roboto';
  letter-spacing: 1px;
}

h2{
  font-size: 2em;
  font-weight: 700;
  font-family:'Roboto';
}



#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -82px 0;
  /* Pad bottom by footer height */
  padding: 0 0 80px 0;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
  background-color: #f5f5f5;
}


#wrap > .center-container {
  padding: 50px 0 0 0;
  margin:0;
}

#footer > .container {
  padding-top:5px
  padding-left: 15px;
  padding-right: 15px;
}

.center-container {
  height:100%;
  display: table;
  width:100%;
  margin:0;
}

.center-row {
  height:50%;
  width:100%;
  display: table-row;
}
  
.center-row > div {
  height:100%;
  width:50%;
  display: table-cell;
  border:0 solid #eee;
  color:#fff;
  vertical-align:middle;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}


.wrapper .header {
    display:block;
    width:100%;
    margin-top: 0px; 
    font-size: 1em; 
    font-family: 'Roboto', sans-serif;
    text-align:center;
  }

#badge{
  width: 300px;
  margin-top: 15px;
}

#badge > h3{
  font-size: 1em;
  font-weight: bold;

}

#btnSubmit{
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}



#gallery { float: left; width: 65%; min-height: 12em; }
.gallery.custom-state-active { background: #eee; }
.gallery li { float: left; width: 80px; height: 50px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery li h5 { margin: 0 0 0.4em; cursor: move; font-size: 12px; font-family:'Roboto'; }
.gallery li a { float: right; }
.gallery li img { width: 100%; cursor: move; }
.ui-widget-header{
  color: black;
  border-style: none;
  background: white;
  
}
#trash { float: right; width: 32%; min-height: 18em; padding: 1%; }
#trash h4 { line-height: 16px; margin: 0 0 0.4em; }
#trash h4 .ui-icon { float: left; }


#myfridge{
  font-family: 'Roboto';
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 1px;
}

.centeredup img{
margin-top: 0px;
margin-left: 0px;
width: 100%
}
#badge.centeredup{
margin-top: 10px;
margin-left: 0px;
}

#resultme{
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
#resultyou{
  text-align: center;
  font-size: 15px;  
}
.btn1 {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.btn1:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.col-xs-12{
  padding-left: 0px;
  padding-right: 0px;
}
h5{
  font-size: 1.2em;
}
#badge > h3{
  font-size: 1.3em;
}
.form-control{
  padding: 0px;
}